body {
    padding: 0;
    margin: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    
    color: #333;
    background: #cfcfcf;
    background-image: 
  }
  
.header {
    background-color: black;
    height: 70px;
    padding: 15px;
    
    }



.container {
    
    width: 1040px;
    margin: 0 auto;
    background-color:rgb(255, 255, 255);
    padding-bottom: 150px;
    padding-top: 25px;
    margin-top: 25px;
    padding-left: 50px;
    padding-right: 50px;
}


    /* input[type=text], select, textarea {
        width:100%;
        padding: 12px; 
        border: 1px solid #cccccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;



    }
      
      input[type=submit] {
        background-color: rgb(175, 79, 76);
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
      
      input[type=submit]:hover {
        background-color: #45a049;
      } */
      
      input {

      }

      .container {
        border-radius: 5px;
        background-color: #f2f2f2;
        
}


p {
margin-left: 240px;
font-size: 20px;
margin-top: 25px;
margin-bottom: 25px;
}


#main-bio {
    width: 960px;
    float: left;
}

h1 {
background-color: whitesmoke;
color: rgb(82, 82, 82);
font-size: 40px;
float: left;
height: 100px;
padding-left: 15px;
padding-right: 15px;
margin-left: 165px;
margin-top: 0px;
}


li {

}

ul {
    list-style-type: none;
    margin: 20px;
}



#bio-image {
    float:left;
    height: 200px;
    width: 200px;
    margin-top: 25px;
    border: 2px solid;
}


.topnav {
    font-size: 22px;
    margin-right: 55px;
    margin: 50px;
    
     
}




.topnav a  {
float: right;

margin-right: 80px;
margin-bottom: 45px;
color: grey;
text-decoration: none;

}

a:hover {
text-decoration: underline;

}

#paragraph1 {
margin-bottom: 50px;

}

